{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "What Next?" %}{% endblock %}

{% block body %}
    <h1>{% trans "Resources" %}</h1>
<p><a href="http://www.cicle.org" target=_blank">C.I.C.L.E. </a>: A Los Angeles based not-for-profit helping riders of all ages and skill levels use bicycles for everyday transportation. CICLE has regular events for families, individuals, and group rides.</p>
<p><a href="http://www.ciclavia.com" target=_blank">CicLAvia</a>: CicLAvia makes the streets safe for people to walk, skate, play and ride a bike with streets closed to cars on certain announced dates. There are activities along the route. Shop owners and restaurants are encouraged to open their doors to people along the CicLAvia.</p>
<p><a href="http://www.good.is/newsletters/dailygood_la" target="_blank">Good LA</a>: GOOD LA is an online and physical magazine that highlights sustainable food, transportation, community, and related technologies.</p>
<p><a href="http://www.la-bike.org" target="_blank">LA Bicycle Coalition</a>: Founded in 1998, Los Angeles County Bicycle Coalition (LACBC) works to build a better, more bike-able Los Angeles County. LACBC brings together the diverse bicycling community in a united mission to make the entire LA region a safe and enjoyable place to ride.</p>
<p><a href="http://www.la.streetsblog.org" target="_blank">LA Streets Blog</a>: Streetsblog is a daily news source connecting people to information about sustainable transportation and livable communities.</p>
<p><a href="http://ladotbikeblog.wordpress.com" target="_blank">LADOT Bike Blog</a>: LADOT Bike Blog offers a closer look into the operations, motivations, rationale, and people of the LADOT Bike Program.</p>
<p><a href="http://sustainablestreets.org" target="_blank">Sustainable Streets</a>: Offers education, encouragement, community facilitation, and planning assistance to promote sustainable active transportation.</p>
<p><a href="http://www.utilitycycling.org" target="blank">Utility Cycling blog</a>: A blog and online resource for all things related to the practice of utility cycling.</p>

{% endblock %}
