{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
	
    <div class="row">
    <div class="span8">
    <img src="{{ STATIC_URL }}/images/BikeCommutersImage2.jpg"/>
    </div>
    
    <div class="span4">
    </div>
    <h1>{% trans "Welcome!" %}</h1>
    
    <p>
       
        USC Bike Commuters connects USC cycling commuters with resources, information, and events relevant to this community.
        Put yourself on the map and we'll let you know who else from your area bikes to USC.
    </p>
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn primary large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    </div>
    </div>
{% endblock %}
