{% extends "profiles/base.html" %}

{% load i18n %}
{% load account_tags %}

{% block head_title %}{% user_display page_user as page_user_display %}{% blocktrans %}Profile for user {{ page_user_display }}{% endblocktrans %}{% endblock %}

{% block body %}
    <div id="row">
    <div id="span9">
    {% if profile.name %}
    <h1>Profile for {{ profile.name }}</h1>
    {% else %}
    {% user_display page_user as page_user_display %}
    <h1>{% blocktrans %}Profile for user {{ page_user_display }}{% endblocktrans %}</h1>
    {% endif %}
    </div>
    <div id="span3">
    {% if is_me %}
        <p><a id="edit-profile-box" href="{% url profile_edit %}" class="btn success">Edit profile</a></p>
    {% else %}
    	<p><a id="message-user-box" href="{% url messages_compose_to profile.user.username %}" class="btn success">Message this user</a></p>
    {% endif %}
    </div>
    </div>
    
    {% include "profiles/_profile_info.html" %}
    
{% endblock %}